/build.log
/build.out
/halibut
/doc/*.html
/doc/halibut.1
/doc/halibut.info*
/doc/halibut.pdf
/doc/halibut.ps
/doc/halibut.txt
/doc/halibut.chm
*.o
.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
