/*.o
/sbcsdat.c
/sbcsdat.h
/convcs
/cstable
/confuse
/csshow
/libcharset.a
.deps
.ninja_deps
.ninja_log
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.log
/config.status
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/build.ninja
/rules.ninja
